@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-size: 16px;
  line-height: 1.8;
  color: #666;
  font-weight: normal;
  font-family: NanumGothic, "나눔고딕", "Malgun Gothic", "맑은 고딕", Dotum,
    "돋움", sans-serif;
}

a {
  color: #5fcf80;
  text-decoration: none;
}

a:hover {
  color: #86db9f;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
}

.mb40 {
  margin-bottom: 40px !important;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #5fcf80;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #7ed899;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #5fcf80;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}
#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
#header .logo a {
  color: #5fcf80;
}
#header .logo img {
  max-height: 40px;
}

/**
* Get Startet Button 
*/
.get-started-btn {
  margin-left: 22px;
  background: #5fcf80;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}
.get-started-btn:hover {
  background: #3ac162;
  color: #fff;
}
@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #37423b;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #5fcf80;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #5fcf80;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #37423b;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(32, 38, 34, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 6px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37423b;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #5fcf80;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #5fcf80;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .container {
  padding-top: 72px;
}
@media (max-width: 992px) {
  #hero .container {
    padding-top: 62px;
  }
}
#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
#hero h2 {
  color: #eee;
  margin: 10px 0 0 0;
  font-size: 24px;
}
#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  border: 2px solid #fff;
  color: #fff;
}
#hero .btn-get-started:hover {
  background: #5fcf80;
  border: 2px solid #5fcf80;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f7f6;
}

.section-title {
  padding-bottom: 40px;
}
.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #9ae1af;
  margin: 4px 10px;
}
.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #37423b;
}

.breadcrumbs {
  margin-top: 73px;
  text-align: center;
  background: #5fcf80;
  padding: 30px 0;
  color: #fff;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 63px;
  }
}
.breadcrumbs h2 {
  font-size: 38px;
  font-weight: 500;
  font-family: "IBM Plex Sans KR", sans-serif;
}
.breadcrumbs p {
  font-size: 20px;
  margin-bottom: 0;
  font-family: "IBM Plex Sans KR", sans-serif;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current {
  background: #ededed;
  color: #222;
}

.tab-content {
  display: none;
}

.tab-content.current {
  display: inherit;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-bottom: 10px;
}
.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5fcf80;
}
.about .content .learn-more-btn {
  background: #5fcf80;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px 9px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}
.about .content .learn-more-btn:hover {
  background: #3ac162;
  color: #fff;
}
@media (max-width: 768px) {
  .about .content .learn-more-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 30px 0;
}
.counts .counters span {
  font-size: 48px;
  display: block;
  color: #5fcf80;
  font-weight: 700;
}
.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #37423b;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {
  padding: 30px;
  background: #5fcf80;
  border-radius: 4px;
  color: #fff;
}
.why-us .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}
.why-us .content p {
  margin-bottom: 30px;
}
.why-us .content .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}
.why-us .content .more-btn i {
  font-size: 14px;
}
.why-us .content .more-btn:hover {
  color: #5fcf80;
  background: #fff;
}
.why-us .icon-boxes .icon-box {
  text-align: center;
  background: #fff;
  padding: 40px 30px;
  width: 100%;
  border: 1px solid #eef0ef;
}
.why-us .icon-boxes .icon-box i {
  font-size: 32px;
  padding: 18px;
  color: #5fcf80;
  margin-bottom: 30px;
  background: #ecf9f0;
  border-radius: 50px;
}
.why-us .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
}
.why-us .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
  padding-top: 0px;
}
.features .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  transition: 0.3s;
  border: 1px solid #eef0ef;
}
.features .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}
.features .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
}
.features .icon-box h3 a {
  color: #37423b;
  transition: 0.3s;
}
.features .icon-box:hover {
  border-color: #5fcf80;
}
.features .icon-box:hover h3 a {
  color: #5fcf80;
}

/*--------------------------------------------------------------
# Courses
--------------------------------------------------------------*/
.courses .course-item {
  border-radius: 5px;
  border: 1px solid #eef0ef;
}
.courses .course-content {
  padding: 15px;
}
.courses .course-content h3 {
  font-weight: 700;
  font-size: 20px;
}
.courses .course-content h3 a {
  color: #37423b;
  transition: 0.3s;
}
.courses .course-content h3 a:hover {
  color: #5fcf80;
}
.courses .course-content p {
  font-size: 14px;
  color: #777777;
}
.courses .course-content h4 {
  font-size: 14px;
  background: #5fcf80;
  padding: 7px 14px;
  color: #fff;
  margin: 0;
}
.courses .course-content .price {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #37423b;
}
.courses .trainer {
  padding-top: 15px;
  border-top: 1px solid #eef0ef;
}
.courses .trainer .trainer-profile img {
  max-width: 50px;
  border-radius: 50px;
}
.courses .trainer .trainer-profile span {
  padding-left: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #5a6c60;
}
.courses .trainer .trainer-rank {
  font-size: 18px;
  color: #657a6d;
}

/*--------------------------------------------------------------
# Trainers
--------------------------------------------------------------*/
.trainers .member {
  text-align: center;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #eef0ef;
}
.trainers .member img {
  margin: -1px -1px 30px -1px;
}
.trainers .member .member-content {
  padding: 0 20px 30px 20px;
}
.trainers .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}
.trainers .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}
.trainers .member p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
}
.trainers .member .social {
  margin-top: 15px;
}
.trainers .member .social a {
  color: #ff0000;
  transition: 0.3s;
}
.trainers .member .social a:hover {
  color: #5fcf80;
}
.trainers .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-wrap {
  padding-left: 50px;
}
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  border: 1px solid #eef0ef;
  position: relative;
  background: #fff;
}
.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}
.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}
.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #c1ecce;
  font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #5fcf80;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #5fcf80;
}
@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }
  .testimonials .testimonials-carousel,
  .testimonials .testimonials-slider {
    overflow: hidden;
  }
  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }
  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}

/*--------------------------------------------------------------
# Cource Details
--------------------------------------------------------------*/
.course-details h3 {
  font-size: 24px;
  margin: 30px 0 15px 0;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
}
.course-details h3:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: #eef0ef;
  bottom: 0;
  left: 0;
}
.course-details h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 1px;
  background: #5fcf80;
  bottom: 0;
  left: 0;
}
.course-details .course-info {
  background: #f6f7f6;
  padding: 10px 15px;
  margin-bottom: 15px;
}
.course-details .course-info h5 {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.course-details .course-info p {
  margin: 0;
  font-weight: 600;
}
.course-details .course-info a {
  color: #657a6d;
}

/*--------------------------------------------------------------
# Cource Details Tabs
--------------------------------------------------------------*/
.cource-details-tabs {
  overflow: hidden;
  padding-top: 0;
}
.cource-details-tabs .nav-tabs {
  border: 0;
}
.cource-details-tabs .nav-link {
  border: 0;
  padding: 12px 15px 12px 0;
  transition: 0.3s;
  color: #37423b;
  border-radius: 0;
  border-right: 2px solid #e2e7e4;
  font-weight: 600;
  font-size: 15px;
}
.cource-details-tabs .nav-link:hover {
  color: #5fcf80;
}
.cource-details-tabs .nav-link.active {
  color: #5fcf80;
  border-color: #5fcf80;
}
.cource-details-tabs .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}
.cource-details-tabs .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #37423b;
}
.cource-details-tabs .details p {
  color: #777777;
}
.cource-details-tabs .details p:last-child {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cource-details-tabs .nav-link {
    border: 0;
    padding: 15px;
  }
  .cource-details-tabs .nav-link.active {
    color: #fff;
    background: #5fcf80;
  }
}

/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/
.events .card {
  border: 0;
  padding: 0 30px;
  margin-bottom: 60px;
  position: relative;
}
.events .card-img {
  width: calc(100% + 60px);
  margin-left: -30px;
  overflow: hidden;
  z-index: 9;
  border-radius: 0;
}
.events .card-img img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}
.events .card-body {
  z-index: 10;
  background: #fff;
  border-top: 4px solid #fff;
  padding: 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-top: -60px;
  transition: 0.3s;
}
.events .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.events .card-title a {
  color: #37423b;
  transition: 0.3s;
}
.events .card-text {
  color: #5e5e5e;
}
.events .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.3s;
}
.events .read-more a:hover {
  color: #5fcf80;
}
.events .card:hover img {
  transform: scale(1.1);
}
.events .card:hover .card-body {
  border-color: #5fcf80;
}
.events .card:hover .card-body .card-title a {
  color: #5fcf80;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  margin: 20px;
  padding: 20px;
  background: #fff;
  text-align: center;
  border: 1px solid #eef0ef;
  border-radius: 0;
  position: relative;
  overflow: hidden;
}
.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #777777;
  background: #f8f8f8;
}
.pricing h4 {
  font-size: 36px;
  color: #5fcf80;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}
.pricing h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}
.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
.pricing ul li {
  padding-bottom: 16px;
}
.pricing ul i {
  color: #5fcf80;
  font-size: 18px;
  padding-right: 4px;
}
.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}
.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}
.pricing .btn-buy {
  background: #a0a0a0;
  display: inline-block;
  padding: 8px 35px;
  border-radius: 50px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}
.pricing .btn-buy:hover {
  background: #3ac162;
}
.pricing .featured h3 {
  color: #fff;
  background: #5fcf80;
}
.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #f05650;
  color: #fff;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-top: 5px;
}
.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 20px;
  color: #5fcf80;
  float: left;
  width: 44px;
  height: 44px;
  background: #ecf9f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37423b;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #657a6d;
}
.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}
.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #5fcf80;
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  background: #fff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #5fcf80;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type="submit"] {
  background: #5fcf80;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .php-email-form button[type="submit"]:hover {
  background: #3ac162;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #37423b;
  font-size: 14px;
  background: #eef0ef;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #f9faf9;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #777777;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #5fcf80;
  font-size: 20px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #5fcf80;
}
#footer .footer-newsletter {
  font-size: 15px;
}
#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #e0e5e2;
}
#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #5fcf80;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type="submit"]:hover {
  background: #3ac162;
}
#footer .credits {
  padding-top: 5px;
  font-size: 13px;
}
#footer .credits a {
  color: #3ac162;
  transition: 0.3s;
}
#footer .credits a:hover {
  color: #5fcf80;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #5fcf80;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: #3ac162;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/

input[type="password"] {
  font-family: "IBM Plex Sans KR", sans-serif;
}

.bg-light {
  background-color: #e9eef5 !important;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}

.login_profile {
  width: 40vw;
}

.form {
  min-height: 80vh;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.7rem;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.align-items-center {
  align-items: center !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.d-flex {
  display: flex !important;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Courses Section
--------------------------------------------------------------*/
html {
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 100%;
  min-height: 100%;
}

.container > .inner-wrap {
  padding-top: 35px;
}

.inner-wrap {
  width: 1160px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.inner-wrap:before,
.inner-wrap:after {
  content: "";
  display: table;
}

.inner-wrap:after {
  clear: both;
}

#contents {
  float: left;
  width: 1900px;
  background-color: #fff;
}

article,
aside,
footer,
header,
nav,
section,
main,
figure,
figcaption {
  display: block;
}

.mb40 {
  margin-bottom: 40px !important;
}

.theme-cat.bydepartment {
  border: 1px solid #e6e6e6;
}

.theme-cat {
}

a:link,
a:visited,
a:active {
  color: #333;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #333;
  text-decoration: underline;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

b,
strong {
  font-weight: 700;
}
em {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
}

/* Theme Category */
.theme-cat {
}
.theme-cat ul {
  width: 100%;
  overflow: hidden;
}
.theme-cat li {
  width: 131px;
  height: 100px;
  float: left;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  position: relative;
}
.theme-cat li a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 65px;
}
.theme-cat li a.on,
.theme-cat li a:hover,
.theme-cat li a:active,
.theme-cat li a:focus,
.theme-cat li a:visited {
  background-color: #f5f5f5;
  font-weight: 700;
  color: #333;
  text-decoration: none;
}
.theme-cat li:nth-of-type(7n) {
  border-right: 0;
  width: 130px;
}
.theme-cat li:nth-of-type(n + 15) {
  border-bottom: 0;
}
.theme-cat li i {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: 50% 20px;
  background-repeat: no-repeat;
}
.theme-cat li:nth-of-type(1) i {
  background-image: url("../images/common/ico/ico-themes-starnote.png");
}
.theme-cat li:nth-of-type(2) i {
  background-image: url("../images/common/ico/ico-themes-lugage.png");
}
.theme-cat li:nth-of-type(3) i {
  background-image: url("../images/common/ico/ico-themes-draftbeer.png");
}
.theme-cat li:nth-of-type(4) i {
  background-image: url("../images/common/ico/ico-themes-hotel.png");
}
.theme-cat li:nth-of-type(5) i {
  background-image: url("../images/common/ico/ico-themes-transport.png");
}
.theme-cat li:nth-of-type(6) i {
  background-image: url("../images/common/ico/ico-themes-tent.png");
}
.theme-cat li:nth-of-type(7) i {
  background-image: url("../images/common/ico/ico-themes-joystick.png");
}
.theme-cat li:nth-of-type(8) i {
  background-image: url("../images/common/ico/ico-themes-animation.png");
}
.theme-cat li:nth-of-type(9) i {
  background-image: url("../images/common/ico/ico-themes-palette.png");
}
.theme-cat li:nth-of-type(10) i {
  background-image: url("../images/common/ico/ico-themes-film.png");
}
.theme-cat li:nth-of-type(11) i {
  background-image: url("../images/common/ico/ico-themes-disc.png");
}
.theme-cat li:nth-of-type(12) i {
  background-image: url("../images/common/ico/ico-themes-piggbank.png");
}
.theme-cat li:nth-of-type(13) i {
  background-image: url("../images/common/ico/ico-themes-basketball.png");
}
.theme-cat li:nth-of-type(14) i {
  background-image: url("../images/common/ico/ico-themes-medical.png");
}
.theme-cat li:nth-of-type(15) i {
  background-image: url("../images/common/ico/ico-themes-hammer.png");
}
.theme-cat li:nth-of-type(16) i {
  background-image: url("../images/common/ico/ico-themes-guitar.png");
}
.theme-cat li:nth-of-type(17) i {
  background-image: url("../images/common/ico/ico-themes-tvmonitor.png");
}
.theme-cat li:nth-of-type(18) i {
  background-image: url("../images/common/ico/ico-themes-loudspeaker.png");
}
.theme-cat li:nth-of-type(19) i {
  background-image: url("../images/common/ico/ico-themes-triangelruller.png");
}
.theme-cat li:nth-of-type(20) i {
  background-image: url("../images/common/ico/ico-themes-mobilegearwheels.png");
}
.theme-cat li:nth-of-type(21) i {
  background-image: url("../images/common/ico/ico-themes-helmetperson.png");
}

.theme-cat.bytarget li {
  width: 25%;
  height: 100px;
  float: left;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  position: relative;
}
.theme-cat.bytarget li:nth-of-type(4n) {
  border-right: 0;
}
.theme-cat.bytarget li:nth-of-type(n) {
  border-bottom: 0;
}
.theme-cat.bytarget li:nth-of-type(2) i {
  background-image: url("../images/common/ico/ico-themes-teenager.png");
}
.theme-cat.bytarget li:nth-of-type(3) i {
  background-image: url("../images/common/ico/ico-themes-women.png");
}
.theme-cat.bytarget li:nth-of-type(4) i {
  background-image: url("../images/common/ico/ico-themes-middleage.png");
}

.theme-cat.byjob li {
  width: 20%;
  height: 100px;
  float: left;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  position: relative;
}
.theme-cat.byjob li:nth-of-type(5n) {
  border-right: 0;
}
.theme-cat.byjob li:nth-of-type(n + 6) {
  border-bottom: 0;
}
.theme-cat.byjob li:nth-of-type(2) i {
  background-image: url("../images/common/ico/ico-themes-briefcase.png");
}
.theme-cat.byjob li:nth-of-type(3) i {
  background-image: url("../images/common/ico/ico-themes-shield.png");
}
.theme-cat.byjob li:nth-of-type(4) i {
  background-image: url("../images/common/ico/ico-themes-heartbeat.png");
}
.theme-cat.byjob li:nth-of-type(5) i {
  background-image: url("../images/common/ico/ico-themes-heartonhand.png");
}
.theme-cat.byjob li:nth-of-type(6) i {
  background-image: url("../images/common/ico/ico-themes-electron.png");
}
.theme-cat.byjob li:nth-of-type(7) i {
  background-image: url("../images/common/ico/ico-themes-musicnote.png");
}
.theme-cat.byjob li:nth-of-type(8) i {
  background-image: url("../images/common/ico/ico-themes-mic.png");
}
.theme-cat.byjob li:nth-of-type(9) i {
  background-image: url("../images/common/ico/ico-themes-hair.png");
}
.theme-cat.byjob li:nth-of-type(10) i {
  background-image: url("../images/common/ico/ico-themes-doggy.png");
}

.theme-cat.bynewjob li {
  width: 12.5%;
  height: 100px;
  float: left;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  position: relative;
}
.theme-cat.bynewjob li:nth-of-type(8n) {
  border-right: 0;
}
.theme-cat.bynewjob li:nth-of-type(n) {
  border-bottom: 0;
}
.theme-cat.bynewjob li:nth-of-type(2) i {
  background-image: url("../images/common/ico/ico-themes-teenager.png");
}
.theme-cat.bynewjob li:nth-of-type(3) i {
  background-image: url("../images/common/ico/ico-themes-academic.png");
}
.theme-cat.bynewjob li:nth-of-type(4) i {
  background-image: url("../images/common/ico/ico-themes-science.png");
}
.theme-cat.bynewjob li:nth-of-type(5) i {
  background-image: url("../images/common/ico/ico-themes-women.png");
}
.theme-cat.bynewjob li:nth-of-type(6) i {
  background-image: url("../images/common/ico/ico-themes-middleage.png");
}
.theme-cat.bynewjob li:nth-of-type(7) i {
  background-image: url("../images/common/ico/ico-themes-startup.png");
}
.theme-cat.bynewjob li:nth-of-type(8) i {
  background-image: url("../images/common/ico/ico-themes-firstmover.png");
}

.theme-cat.bydepartment {
  border: 1px solid #e6e6e6;
}
.theme-cat.bydepartment li {
  width: 12.5%;
  height: 100px;
  float: left;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  position: relative;
}
.theme-cat.bydepartment li:nth-of-type(8n) {
  border-right: 0;
}
.theme-cat.bydepartment li:nth-of-type(n) {
  border-bottom: 0;
}

.theme-cat.bydepartment li a.on {
  background: #fff;
}
.theme-cat.bydepartment li i {
  background-position: 50% 15px;
}
.theme-cat.bydepartment li:nth-of-type(1) i {
  background-image: url("../img/major/book.png");
}
.theme-cat.bydepartment li:nth-of-type(2) i {
  background-image: url("../img/major/balance.png");
}
.theme-cat.bydepartment li:nth-of-type(3) i {
  background-image: url("../img/major/beaker.png");
}
.theme-cat.bydepartment li:nth-of-type(4) i {
  background-image: url("../img/major/mechanic.png");
}
.theme-cat.bydepartment li:nth-of-type(5) i {
  background-image: url("../img/major/paint.png");
}
.theme-cat.bydepartment li:nth-of-type(6) i {
  background-image: url("/static/images/job/ico-dpt-medicalbag.png");
}
.theme-cat.bydepartment li:nth-of-type(7) i {
  background-image: url("/static/images/job/ico-dpt-musicnote.png");
}
.theme-cat.bydepartment li:nth-of-type(8) i {
  background-image: url("/static/images/job/ico-dpt-fiveanglestar.png");
}

.theme-cat.bydepartment2 {
  border: 1px solid #e6e6e6;
}
.theme-cat.bydepartment2 li {
  width: 12.5%;
  height: 100px;
  float: left;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  position: relative;
}
.theme-cat.bydepartment2 li:nth-of-type(8n) {
  border-right: 0;
}
.theme-cat.bydepartment2 li:nth-of-type(n) {
  border-bottom: 0;
}

.theme-cat.bydepartment2 li a.on {
  background: #fff;
}
.theme-cat.bydepartment2 li i {
  background-position: 50% 15px;
}
.theme-cat.bydepartment2 li:nth-of-type(1) i {
  background-image: url("../img/major/manager.png");
}
.theme-cat.bydepartment2 li:nth-of-type(2) i {
  background-image: url("../img/major/engineering.png");
}
.theme-cat.bydepartment2 li:nth-of-type(3) i {
  background-image: url("../img/major/policeman.png");
}
.theme-cat.bydepartment2 li:nth-of-type(4) i {
  background-image: url("../img/major/camera.png");
}
.theme-cat.bydepartment2 li:nth-of-type(5) i {
  background-image: url("../img/major/healthcare.png");
}
.theme-cat.bydepartment2 li:nth-of-type(6) i {
  background-image: url("/static/images/job/ico-dpt-medicalbag.png");
}
.theme-cat.bydepartment2 li:nth-of-type(7) i {
  background-image: url("/static/images/job/ico-dpt-musicnote.png");
}
.theme-cat.bydepartment2 li:nth-of-type(8) i {
  background-image: url("/static/images/job/ico-dpt-fiveanglestar.png");
}

.theme-cat li a.on,
.theme-cat li a:hover,
.theme-cat li a:active,
.theme-cat li a:focus,
.theme-cat li a:visited {
  background-color: #f5f5f5;
  font-weight: 700;
  color: #333;
  text-decoration: none;
}

a:link,
a:visited,
a:active {
  color: #333;
  text-decoration: none;
}

a {
  background-color: transparent;
}

.box-white {
  position: relative;
  padding: 20px;
  border: 1px solid #eee;
  background-color: #fff;
}

.pb10 {
  padding-bottom: 10px !important;
}

.box-white:after {
  content: "";
  clear: both;
  display: block;
}

.dot-list {
}

.dot-list.v1 > li {
  color: #666;
}

.dot-list > li {
  position: relative;
  padding: 0 0 0 11px;
  line-height: 22px;
}

.dot-list.v1 > li:before {
  width: 3px;
  height: 3px;
  background-color: #30aed6;
}

.dot-list > li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  width: 3px;
  height: 3px;
  margin: 0;
  padding: 0;
  background-color: #000;
}

.mg00 {
  margin: 0px !important;
}

.font-bold {
  font-weight: 700 !important;
  color: #333;
}

.dot-list:after {
  content: "";
  clear: both;
  display: block;
}

.label-wrap {
}

.mb10 {
  margin-bottom: 10px !important;
}

.label-wrap:before,
.label-wrap:after {
  content: "";
  display: table;
}

.label-wrap:after {
  clear: both;
}

.label-wrap.line-0 span {
  width: auto;
  margin: 0 15px 0 0;
}

.label-wrap span {
  display: block;
  padding: 5px 0;
}

.label-wrap * {
  float: left;
}

/* dot list */
.dot-list {
}
.dot-list:after {
  content: "";
  clear: both;
  display: block;
}
.dot-list > li {
  position: relative;
  padding: 0 0 0 11px;
  line-height: 22px;
}
.dot-list > li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  width: 3px;
  height: 3px;
  margin: 0;
  padding: 0;
  background-color: #000;
}
.dot-list > li + li {
  margin-top: 5px;
}
.dot-list.lh26 > li {
  line-height: 26px;
} /* 20191212 추가 */
.dot-list.float {
}
.dot-list.float > li {
  float: left;
}
.dot-list.float.col-2 > li {
  width: 50%;
}
.dot-list.float.col-2 > li:nth-child(2n + 1) {
  clear: both;
}
.dot-list.float.col-2 > li:nth-child(-n + 2) {
  margin-top: 0;
}
.dot-list.float.col-3 > li {
  width: 33.3%;
  padding-right: 10px;
}
.dot-list.float.col-3 > li:nth-child(3n + 1) {
  clear: both;
}
.dot-list.float.col-3 > li:nth-child(-n + 3) {
  margin-top: 0;
}
.dot-list.float.col-4 > li {
  width: 25%;
}
.dot-list.float.col-5 > li {
  width: 20%;
}
.dot-list.v1 > li {
  color: #666;
}
.dot-list.v1 > li:before {
  width: 3px;
  height: 3px;
  background-color: #30aed6;
}
.dot-list.v1.gray > li:before {
  width: 2px;
  height: 2px;
  background-color: #666;
}
.dot-list.v1 > li.dot-no {
}
.dot-list.v1 > li.dot-no:before {
  display: none;
}
.dot-list.v2 > li {
  width: 50%;
  margin-top: 5px;
  float: left;
}
.dot-list.v2 > li.dot-no {
  padding-left: 16px;
}
.dot-list.v2 > li.dot-no:before {
  display: none;
}
.dot-list.v3 > li + li {
  margin-top: 10px;
}
.dot-list.v3 > li:before {
  width: 3px;
  height: 3px;
  background-color: #30aed6;
}
.dot-list.v4 > li:before {
  left: 3px;
  width: 2px;
  height: 2px;
  background-color: #666;
}
.dot-list.v5 > li:before {
  left: 3px;
  width: 3px;
  height: 3px;
  background-color: #627098;
}
.dot-list.v6 > li:before {
  left: 2px;
  width: 3px;
  height: 3px;
  background-color: #aaa;
}
.dot-list.v7 > li:before {
  width: 3px;
  height: 3px;
  background-color: #236daa;
}

ul .on_table {
  display: block;
}

ul .non_table {
  display: none;
}

p.order {
  font: bold 11px;
  color: black;
  margin: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
}
p.order:nth-child(2n) {
  background-color: #dcdcdc;
}
p.order:nth-child(2n-1) {
  background-color: white;
}
